beautifulsoup4>=4.12.3
streamlit>=1.28.0
litellm>=1.44.0
smolagents>=0.3.0
serpapi>=0.1.5
datasets>=2.21.0
google_search_results>=2.4.2
huggingface_hub>=0.23.4
mammoth>=1.8.0
markdownify>=0.13.1
numexpr>=2.10.1
numpy>=1.21.0
openai>=1.52.2
openpyxl
pandas>=2.2.3
pathvalidate>=3.2.1
pdfminer.six>=20240706
Pillow>=11.0.0
puremagic>=1.28
pypdf>=5.1.0
python-dotenv>=1.0.1
python_pptx>=1.0.2
Requests>=2.32.3
ddgs>=4.1.1
tqdm>=4.66.4
torch>=1.12.0
torchvision>=0.13.0
transformers>=4.21.0
youtube_transcript_api>=0.6.2
scikit-learn
scipy
pydub
PyPDF2
python-pptx
torch
SpeechRecognition
loguru>=0.7.2
free-proxy>=1.1.1